*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    background-image: url(../images/quinton-coetzee-xcweYgakbRo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100vh;
    
}
main{
    background-color: rgba(0, 0, 2, .5)
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: #050505;
    color: white;
    position: fixed;
}
.navbar{
    display: flex;
    padding: 0 50px 0 50px;
    height: 10vh;
    align-items: center;
}
.navbar h2{
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar h2 a{
    text-decoration: none;
    color: white;
}
.navbar h2 a span{
    color: blue;
    color: linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(0,0,255,1) 50%, rgba(255,255,255,1) 100%);
}
.navbar h2 a:hover{
    color: blue;
    transition: .2s ease-in;
}
.navbar h2 a:hover span{
    color: white;
    transition: .2s ease-in;
}
.navbar li{
    list-style: none;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar li a{
    text-decoration: none; 
}
.navbar li a:hover{
    color: white;
    transition: .2s ease-in;
}
.dome{
    height: 100vh;
    /* width: 100vw; */
    color: white;
    padding-top: 10vh;
}
.dome .hero{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}
.entry{
    /* padding-left: 100px;
    padding-right: 100px; */
    width: 50%;
}



footer{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


